body{
margin:0;	
	
}


/*Início do abeçalho*/
div.cabecalho {
  overflow: hidden;
  background-color: #002776;
  color: white;
  font-family: Trebuchet MS;
}

div.cabecalho a{
  overflow: hidden;
  background-color: #002776;
  color: white;
  font-family: Trebuchet MS; 
}
/*Fim do cabeçalho*/






/*Início do Menu de Navegação*/

ul {
  list-style-type: none;
  margin: 0;

  padding: 0;
  overflow: hidden;
  background-color: #009c3b;
  font-family: Trebuchet MS;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ffdf00;
  color: #002776;
}
/*Fim do Menu de Navegação*/





/*Título da Página Inicial*/
div.titulo {
  overflow: hidden;
  color:  #F5F5DC;
  font-family: Trebuchet MS;
}

div.titulo a{
  overflow: hidden;
  color:  #F5F5DC;
  font-family: Trebuchet MS; 
}
/*Fim do Título da Página Inicial*/



/*Legenda da Tabela*/
div.legenda_tabela {
  margin-left:140px;
  overflow: hidden;
  color:  #F5F5DC;
  font-family: Trebuchet MS;
}

div.legenda_tabela a{
	margin-left:250px;
  overflow: hidden;
  color:  #F5F5DC;
  font-family: Trebuchet MS; 
}
/*Fim da Legenda da Tabela*/

/*Fim do texto da pagina estatistica*/

p.estat{
	text-align: center;
 color: red;
 font-size: 40px;
 font-family: Trebuchet MS;
 height: 100px;
 width: 1550px;
 margin-top:-350px;
  }









/* Configuração de Colunas */

/* colunas da direita e esquerda */
div.coluna.lateral {
  width: 25%;
  color:  #F5F5DC;
  font-family: Trebuchet MS;
}

/* coluna do meio */
div.coluna.meio {
  width: 50%;
  color:  #F5F5DC;
  font-family: Trebuchet MS;
}

/* entre colunas */
div.coluna_entre:after {
  content: "";
  display: table;
  clear: both;
   
}

a:link {
  color: #B4CDCD;   
}

a:visited {
  color: #B4CDCD;   
}

div.coluna {
  float: left;
  padding: 10px;
}

/* Fim da Configuração de Colunas */

/* Formatação da Pag. de Estatistica*/
.data-postagem {
	font-size: 14px;
	border-bottom: 1px solid #f4f4f4;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.img-postagem{
	float: left;
	margin:0 10px 5px 0;
}

#postagemfla{
	background-color: black;
	padding: 10px;
	margin-bottom: 10px;
	color:red;
	font-family:Trebuchet MS;
	font-size:30px;
	border: 8px solid red;
	-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: white;
}

#postagemfla:hover{
		background-color: red;
		color:black;
		border: 8px solid black;
		-webkit-text-stroke-color: white;
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
}

#postagembah{
	background-color: #3A5FCD;
	padding: 10px;
	margin-bottom: 10px;
	color:red;
	font-family:Trebuchet MS;
	font-size:30px;
	border: 8px solid red;
	-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: white;
}

#postagembah:hover{
	background-color: red;
		color:#3A5FCD;
		border: 8px solid #3A5FCD;
-webkit-text-stroke-color: white;
-webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#postagemsan{
	background-color: black;
	padding: 10px;
	margin-bottom: 10px;
	color:white;
	font-family:Trebuchet MS;
	font-size:30px;
	border: 8px solid white;
	-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: yellow;
}

#postagemsan:hover{
	background-color: white;
		color:	black;
		border: 8px solid black;
-webkit-text-stroke-color: yellow;
-webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}







#area-principal {
	width: 720px;
	margin: 55px auto 10px auto;
}

.slide{
	color:white;
	font-family:Trebuchet MS;
	font-size: 45px;
	
}


#estilovideo {
	width: 842px;
	margin: 55px auto 10px auto;
	border: 8px solid black;
}

#estilovideo:hover {
		border: 8px solid white;
		-webkit-text-stroke-color: yellow;
-webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}












/* Fim da Formatação da Pag. de Estatistica */





/* Rodapé */
div.rodape {
  padding: 20px;
  text-align: center;
  background: #009c3b;
  margin-top: 20px;
  font-family: Trebuchet MS;
  color: white;
}
/* Fim do rodapé */