.formulario{
	width:400px;
	padding:30px;
	border: 1px solid #ccc;
	font-family:Trebuchet MS;
	background-color:#009c3b;
}

.formulario p{
	width:100%;
	font-size:1.5em;
}

.field{
		width:100%;
		margin:15px 0;
}

.field label,
.field span{
	padding-left:10px;
	font-size:1.1em;
	display:block;
	width:100%;
}

.radiobox label{
	width: auto;
	display: inline-block;
}

input[type=text],
input[type=email],
input[type=password],
textarea{
width:100%;
padding-left:10px;
line-height: 30px;
border-radius:15px;
border:1px solid #ccc;
outline:nome;
}

input #não{
	margin-left: 30px;
}

textarea{
	line-height:20px;
	padding:10px;
	height:9px;
	resize:nome;
}

input[type=submit]{
	display: block;
	background-color:#ccc;
	height:35px;
	border:nome;
	outline:0;
	cursor:pointer;
	width:100px;
	margin:0 auto;
	text-align:center;
	border-radius:15px;
}

